[Unit]
Description=JJ Clock
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/authbind --deep /usr/bin/python3 -u /home/pi/JJClock/jjclock.py
WorkingDirectory=/home/pi/JJClock
StandardError=journal
StandardOutput=journal
Restart=always
RestartPreventExitStatus=83
RestartSec=2
User=pi
TimeoutStopSec=10
TimeoutStartSec=300
WatchdogSec=60
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target