<!doctype html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}JJ Clock{% endblock %}</title>
    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
    <link rel="apple-touch-icon" href="/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <!-- ****** faviconit.com favicons ****** -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="static/bootstrap/js/bootstrap.bundle.js"></script>  
    <script src="static/mustache.min.js"></script>  
    <script>
      window.addEventListener("load", highlightnav, true);
      function highlightnav() {
        document.getElementById("nav_{{ pageid }}").classList.add("active");
      }
    </script>
    {% block js %}
    <script>
      function updateall() {}
    </script>
    {% endblock %}
  </head>
  <body onload="updateall()">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="/favicon-32.png" width="32" height="32" class="d-inline-block align-top" alt="">&nbspJJ Clock</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#jjclocknavbar">
            <span class="navbar-toggler-icon"></span>
          </button>       
        <div class="collapse navbar-collapse" id="jjclocknavbar">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            {% for page in pages %}
            <li class="nav-item">
              <a class="nav-link" href="{{ page.url }}" id="nav_{{ page.id }}">{{ page.name }}</a>
            </li>       
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-3">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>