{% extends "base.html" %}
{% block title %}JJ Clock - Home{% endblock %}
{% block js %}
  <script>
    function updateall() {
      updatestatus()
      pollimage()
    }
    function updatestatus() {
      var xhttp = new XMLHttpRequest();
      xhttp.open("GET", "api/status", true);
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          jr = JSON.parse(this.responseText);
          if ("gps" in jr) {
            // badges!
            for (let i of document.querySelectorAll('*[id^="badge_"]')) {
              i.classList.remove("bg-warning", "bg-danger", "bg-success")
            }
            if (jr["gps"]["hasfix"] == true) {
              document.getElementById("badge_gpsfix").classList.add("bg-success")
            } else {
              document.getElementById("badge_gpsfix").classList.add("bg-danger")
            }
            if (jr["gps"]["hastime"] == true) {
              document.getElementById("badge_gpstime").classList.add("bg-success")
            } else {
              document.getElementById("badge_gpstime").classList.add("bg-danger")
            }
            document.getElementById("gpsloccell").innerHTML = jr["gps"]["loc"]
            document.getElementById("gpstimecell").innerHTML = jr["gps"]["dtutc"]
            document.getElementById("gpstzcell").innerHTML = jr["gps"]["tz"]
          }
          if ("threadstate" in jr) {
            if (jr["threadstate"]["gps"] == true) {
              document.getElementById("badge_thread_gps").classList.add("bg-success")
            } else {
              document.getElementById("badge_thread_gps").classList.add("bg-danger")
            }
            if (jr["threadstate"]["web"] == true) {
              document.getElementById("badge_thread_web").classList.add("bg-success")
            } else {
              document.getElementById("badge_thread_web").classList.add("bg-danger")
            }            
            if (jr["threadstate"]["pygame"] == true) {
              document.getElementById("badge_thread_pygame").classList.add("bg-success")
            } else {
              document.getElementById("badge_thread_pygame").classList.add("bg-danger")
            }
          }
          if ("timestamp" in jr) {
            document.getElementById("timecell").innerHTML = jr["timestamp"]
          }
          if ("tz" in jr) {
            document.getElementById("tzcell").innerHTML = jr["tz"]
          }
          if ("memory" in jr) {
            document.getElementById("memoryusage").innerHTML = jr["memory"];
          }
        }      
      }
      xhttp.send()
    }
    function pollimage() {
      var xhttp = new XMLHttpRequest();
      xhttp.open("GET", "api/screenpoll", true);
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          jr = JSON.parse(this.responseText);
          if ("hash" in jr) {
            hash = document.getElementById("screenimg").getAttribute("data-hash");
            if (jr["hash"] != hash) {
              img = document.getElementById("screenimg");
              img.src = "/api/screen.png?hash=" + jr["hash"];
              img.setAttribute("data-hash", jr["hash"]);
              updatestatus();
            }
          }
        }      
      }
      xhttp.send();
      setTimeout(pollimage, 2500);
    }
  </script>
{% endblock %}
{% block content %}
<div class="row mt-3 border">
  <img src="/api/screen.png" class="col-12 img-fluid" id="screenimg" data-hash="">
</div>
<div class="row mt-3 border">
  <div class="col-12 mt-3">
    <h2>Status:</h2>
  </div>
  <div class="col-12 mt-0 mb-0">
    <table class="table">
      <colgroup>
        <col class="col-auto">
        <col class="col">
      </colgroup>
      <tr>
        <th scope="row">Time:</th>
        <td id="timecell">unknown</td>
      </tr>
      <tr>
        <th scope="row">Timezone:</th>
        <td id="tzcell">unknown</td>
      </tr>     
      <tr>
        <th scope="row">GPS Status:</th>
        <td id="gpsstatuscell">
          <span class="badge bg-warning" id="badge_gpsfix">FIX</span>
          <span class="badge bg-warning" id="badge_gpstime">TIME</span>
        </td>
      </tr>
      <tr>
        <th scope="row">GPS Time:</th>
        <td id="gpstimecell">Unknown</td>
      </tr>
      <tr>
        <th scope="row">GPS Location:</th>
        <td id="gpsloccell">Unknown</td>
      </tr>
      <tr>
        <th scope="row">GPS Timezone:</th>
        <td id="gpstzcell">Unknown</td>
      </tr>   
      <tr>
        <th scope="row">Thread Status:</th>
        <td id="threadstatuscell">
          <span class="badge bg-warning" id="badge_thread_gps">GPS</span>
          <span class="badge bg-warning" id="badge_thread_web">WEB</span>
          <span class="badge bg-warning" id="badge_thread_pygame">PYGAME</span>
        </td>
      </tr>  
      <tr>
        <th scope="row">Memory Usage:</th>
        <td id="memoryusage">Unknown</td>
      </tr>          
    </table>
  </div>
</div>
{% endblock %}