{% extends "base.html" %}

{% block title %}JJ Clock - Settings{% endblock %}

{% block js %}
  {% raw %}
    <script>

      function updateall() {
        updatesettings()
        updateswversion()
      }

      function dict2view(dict) {
        v = []
        for (let name in dict) {
          var s = {"key":name, "value":jr["settings"][name]}
          v.push(s)
        }
        return v
      }
      
      function updateswversion() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "api/status", true);
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            jr = JSON.parse(this.responseText);
            if ("currentversion" in jr) {
              document.getElementById("currentversion").innerHTML = jr["currentversion"]
            }
            if ("latestversion" in jr) {
              document.getElementById("latestversion").innerHTML = jr["latestversion"]
              if (!(jr["latestversion"]==null)) {
                dobutton = document.getElementById("btn_updatedo")
                dobutton.hidden = false
                dobutton.disabled = (jr["latestversion"]==jr["currentversion"])
              }
            }
            document.getElementById("btn_updatecheck").disabled = false
          }
        }
        xhttp.send()
      }

      function checkupdate() {
        document.getElementById("btn_updatecheck").disabled = true
        document.getElementById("currentversion").innerHTML = "Checking... Please Wait..."
        document.getElementById("latestversion").innerHTML = "Checking... Please Wait..."
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "api/update/check", true);
        xhttp.send()
        setTimeout(updateswversion, 2500);
      }

      function doupdate() {
        btn = document.getElementById("btn_updatedo")
        btn.hidden = true
        document.getElementById("currentversion").innerHTML = "Updating... Please Wait..."
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "api/update/do", true);
        xhttp.send()
        //setTimeout(updateswversion, 20000);
        pblength = 60
        pbtimer()
      }
      
      var settingscache = {}
      function updatesettings() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "api/settings", true);
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            jr = JSON.parse(this.responseText)
            let tablehtml = "";
            if ("settings" in jr) {
              settingscache = jr["settings"]
              for (let key in jr["settings"]) {
                let v = jr["settings"][key];
                v["key"]=key;
                let input = "";
                if (v["validation"] == "password") {
                  input = '<div class="input-group"><input type="password" class="form-control" id="setting_{{key}}" placeholder="{{name}}"></input><button class="btn btn-outline-secondary" type="button" id="show_{{key}}" onclick="togglepassword(\'{{key}}\')">Show</button></div>';
                } else if (v["validation"] == "bool") {
                  input = '<input class="form-check-input" type="checkbox" id="setting_{{key}}">'
                } else if (v["validation"] == "list") {
                  input ='<select class="form-select" id="setting_{{key}}">';
                  for (option of v["validationlist"]) {
                    input += '<option value=' + option + '>' + option + '</option>';
                  }
                  input = input + '</select>';
                } else {
                  input = '<input type="text" class="form-control" id="setting_{{key}}" placeholder="{{name}}"></input>';
                }
                template = '<tr id="rowsetting_{{key}}"><td>{{name}}</td><td>' + input + '</td><td><button type="button" class="btn btn-outline-primary" onclick=\'makedefault("{{key}}")\' id="btn_makedefault_{{key}}">Default</button></td></tr>'
                tablehtml = tablehtml + Mustache.render(template, v)
              }
            }
            let sr = document.getElementById("settingrows")
            document.getElementById("settingrows").innerHTML = tablehtml

            for (let key in jr["settings"]) {
              let element = document.getElementById("setting_" + key)
              if (element.type == "checkbox") {
                element.checked = Boolean(jr["settings"][key]["value"])
              } else {
                element.value = jr["settings"][key]["value"]
              }
            }

          }
        }
        xhttp.send()     
      }

      function togglepassword(id) {
        pinput = document.getElementById("setting_" + id)
        pcheck = document.getElementById("show_" + id)
        if (pinput.type === "password") {
          pinput.type = "text";
          pcheck.classList.add("active")
        } else if (pinput.type === "text") {
          pinput.type = "password"
          pcheck.classList.remove("active")
        }
      }
    
      function savesettings() {
        let sdict = {}
        for (let i of document.querySelectorAll('*[id^="setting_"]')) {
          if (i.type == "checkbox") {
            sdict[i.id.slice(8)] = i.checked
          } else {
            sdict[i.id.slice(8)] = i.value
          }
        }
        let out = {"settings":sdict}
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "api/settings", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            let jr = JSON.parse(this.responseText)
            if ("settings" in jr) {
              for (let key in jr["settings"]) {
                document.getElementById("setting_"+key).value = jr["settings"][key]["value"]
              }            
            }
          }
        }
        xhttp.send(JSON.stringify(out))
      }

      let tstart = null
      let pblength = 60
      function pbtimer() {
        if (tstart == null) {
          tstart = new Date().getTime();
        }
        deltams = new Date().getTime()-tstart;
        if (deltams > (pblength * 1000)) {
          location.reload()
          return false
        }
        document.getElementById("pbupdate").style.width = (deltams/pblength/10).toString() + "%"
        document.getElementById("pbtext").innerHTML = "T - " + (pblength-(deltams/1000)).toFixed(0).toString() + " sec"
        setTimeout(pbtimer, 250) // 1/4 sec is same as an automatic watch...
      }

      function makedefault(key) {
        if (key in settingscache) {
          let element = document.getElementById("setting_" + key)
          if (element.type == "checkbox") {
            element.checked = Boolean(settingscache[key]["default"])
          } else {
            element.value = settingscache[key]["default"]
          }
        } else {
          updatesettings()
        }
      }

      function doreboot() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "api/reboot", true);
        xhttp.send()
        //setTimeout(updateswversion, 20000);
        pblength = 120 // extra time for reboot
        pbtimer()
      }


    </script>
  {% endraw %}
{% endblock %}

{% block content %}
  <div class="row g-3 mt-3 border">
    <h2>Settings</h2>
    <div class="col-12">
      <button type="button" class="btn btn-primary" onclick="savesettings()">Save</button>
    </div>
    <div class="col-12">
      <table class="table">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Value</th>
          <th scope="col">Default</th>
        </tr>
        <tbody id="settingrows">
        </tbody>
      </table>
    </div>
    <h2>Update</h2>
    <div class="col-12 mb-3">
      <p>Current Version: <span id="currentversion"></span></p>
      <p>Available Version: <span id="latestversion"></span></p>
      <button type="button" class="btn btn-primary" onclick="checkupdate()" id="btn_updatecheck">Check For Update</button>
      <button type="button" class="btn btn-primary" hidden id="btn_updatedo" onclick="doupdate()" data-bs-toggle="modal" data-bs-target="#pleasewait">Update Now</button>
    </div>
    <h2>Other</h2>
    <div class="col-12 mb-3">
      <button type="button" class="btn btn-danger" onclick="doreboot()" data-bs-toggle="modal" data-bs-target="#pleasewait" id="btn_reboot">Reboot Device</button>
    </div>
  </div>
  <div class="modal fade" id="pleasewait" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Please wait...</h5>
        </div>
        <div class="modal-body">
          <div class="progress">
            <div class="progress-bar" role="progressbar" id="pbupdate" style="width:0%;" data-secs="0"></div>
            <small class="justify-content-center d-flex position-absolute w-100" style="color:black;"id="pbtext">T - 60 sec</small>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}