{% extends "base.html" %}
{% block title %}JJ Clock - Wifi{% endblock %}
{% block js %}
    {% raw %}
    <script>
    
    function updateall() {
      updatenetworks()
      getapsettings()
    }
    
    function updatenetworks() {
      var xhttp = new XMLHttpRequest();
      xhttp.open("GET", "api/getnetworks", true);
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          jr = JSON.parse(this.responseText)
          var template = "{{#networks}}<tr id=\"rownetwork{{id}}\"><td>{{id}}</td><td>{{ssid}}</td><td>{{connected}}</td><td><button type=\"button\" class=\"btn btn-danger\"onclick=\"removenetwork({{id}})\" id=\"buttonnetworkremove{{id}}\">Remove</button></td></tr>{{/networks}}"
          document.getElementById("networkrows").innerHTML = Mustache.render(template, jr)
          for (var i = 0; i < jr["networks"].length; i++) {
            var n = jr["networks"][i]
            if (n["connected"]) {
              document.getElementById("ssidcell").innerHTML = n["ssid"]
              document.getElementById("rownetwork"+n["id"]).classList.add("table-success")
              document.getElementById("buttonnetworkremove"+n["id"]).disabled = true
            }
          }
          document.getElementById("wifimode").innerHTML = jr["wifimode"]
        }
      }
      xhttp.send()      
    }
    
    function getscan() {
      var xhttp = new XMLHttpRequest();
      xhttp.open("GET", "api/scannetworks", true);
      xhttp.onreadystatechange = function () {    
        if (this.readyState == 4 && this.status == 200) {
          jr = JSON.parse(this.responseText)
          var template = "{{#scans}}<tr><th scope=\"row\">{{id}}</th><td><button type=\"button\" class=\"btn btn-primary\" onclick=\"prefillssid(&quot;{{ssid}}&quot;)\">{{ssid}}</button><td>{{rssi}}</td><td>{{channel}}</td>{{/scans}}"
          document.getElementById("scanrows").innerHTML = Mustache.render(template, jr)
        }
      }
      xhttp.send() 
    }
    
    function removenetwork(id) {
      var n = {"id":id}
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "api/removenetwork", true);
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          updatenetworks()
        }
      }
      xhttp.send(JSON.stringify(n))    
    }
    
    function prefillssid(ssid) {
      document.getElementById("ssid").value = ssid
    }
    
    function addnetwork() {
      var ssid = document.getElementById("ssid").value
      var psk = document.getElementById("psk").value
      var n = {"ssid":ssid, "psk":psk}
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "api/addnetwork", true);
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          updatenetworks()
        }
      }
      xhttp.send(JSON.stringify(n))
    }

    function reconfigure() {
      var xhttp = new XMLHttpRequest();
      xhttp.open("GET", "api/reconfigurewifi", true);
      xhttp.send()
    }

    function setmode(mode) {
      var r = {"mode":mode}
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "api/setwifimode", true);
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.send(JSON.stringify(r))   
    }

    function getapsettings() {
      var xhttp = new XMLHttpRequest();
      xhttp.open("GET", "api/settings", true);
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          jr = JSON.parse(this.responseText);
          if ("settings" in jr) {
            var s = jr["settings"]
            if ("apssid" in s) {
              document.getElementById("apssid").value = s["apssid"]["value"];
            }
            if ("appass" in s) {
              document.getElementById("appass").value = s["appass"]["value"];
            }    
          }
        }      
      }
      xhttp.send()
    }

    function setapsettings() {
      var apssid = document.getElementById("apssid").value
      var appsk = document.getElementById("appass").value
      var n = {"settings":{"apssid":apssid, "appass":appsk}}
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "api/settings", true);
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          jr = JSON.parse(this.responseText);
          if ("settings" in jr) {
            var s = jr["settings"]
            if ("apssid" in s) {
              document.getElementById("apssid").value = s["apssid"]["value"];
            }
            if ("appass" in s) {
              document.getElementById("appass").value = s["appass"]["value"];
            }    
          }
        }
      }
      xhttp.send(JSON.stringify(n))
    }

    function togglepassword(id) {
      pinput = document.getElementById(id)
      pcheck = document.getElementById(id + "_show")
      if (pinput.type === "password") {
        pinput.type = "text";
        pcheck.classList.add("active")
      } else if (pinput.type === "text") {
        pinput.type = "password"
        pcheck.classList.remove("active")
      }
    }
    
    </script>
    {% endraw %}
{% endblock %}

{% block content %}
  <div class="row g-3 mt-3 border">
    <div class="col-12">
      <h2>Wifi Status:</h2>
    </div>
    <div class="col-12 mt-0 mb-0">
      <table class="table">
        <colgroup>
          <col class="col-1">
          <col class="col">
        </colgroup>
        <tr>
          <th scope="row">Mode:</th>
          <td id="wifimode">unknown</td>
        </tr>
        <tr>
          <th scope="row">SSID:</th>
          <td id="ssidcell"></td>
        </tr>
      </table>
    </div>
    <div class="col-12 mt-0 mb-3">
      <button type="button" class="btn btn-primary" onclick='setmode("ap")'>AP Mode</button>
      <button type="button" class="btn btn-primary" onclick='setmode("client")'>Client Mode</button>
    </div>
  </div>

  <div class="row g-3 mt-3 border">
    <h2>AP Settings:</h2> 
    <form class="row row-col-12 g-3 mt-0 mb-3">
      <div class="col-md-5">
        <label for="apssid" class="form-label">AP SSID:</label>
        <input type="text" class="form-control" id="apssid" placeholder="AP SSID"></input>
      </div>
      <div class="col-md-5">
        <label for="appass" class="form-label">AP Password:</label>
        <div class="input-group">
          <input type="password" class="form-control" id="appass" placeholder="AP Password"></input>
          <button class="btn btn-outline-secondary" type="button" id="appass_show" onclick="togglepassword('appass')">Show</button>
        </div>
      </div>
      <div class="col-md-2 align-self-end">
        <button type="button" class="btn btn-primary" onclick="setapsettings()">Update</button>
      </div>
    </form>
  </div>

  <div class="row g-3 mt-3 border">
    <h2>Saved Networks</h2>
    <div class="col-12">
      <button type="button" class="btn btn-primary" onclick="reconfigure()">Reconfigure/Connect</button>
    </div>
    <div class="col-12">
      <table class="table">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">SSID</th>
          <th scope="col">Connected</th>
          <th scope="col">Remove</th>
        </tr>
        <tbody id="networkrows">
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row g-3 mt-3 border">
    <div class="col-12">
      <h2>Add Network</h2>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-primary" onclick="getscan()">Scan</button>
    </div>
    <div class="col-12">
      <table class="table">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">SSID</th>
          <th scope="col">RSSI</th>
          <th scope="col">Channel</th>
        </tr>
        <tbody id="scanrows"></tbody>    
      </table>
    </div>
    <form class="row row-col-12 g-3 mt-0 mb-3">
      <div class="col-md-5">
        <label for="ssid" class="form-label">SSID:</label>
        <input type="text" class="form-control" id="ssid" placeholder="SSID"></input>
      </div>
      <div class="col-md-5">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="psk" placeholder="Password"></input>
      </div>
      <div class="col-md-2 align-self-end">
        <button type="button" class="btn btn-primary" onclick="addnetwork()">Add</button>
      </div>
    </form>
  </div>



{% endblock %}